@model Event



            <div id="card-event-details">
                <img class="card-img-top" src="@Model.ImageUrl" alt="Card image cap">
                <div class="card-body-event">
                    <h2 class="card-title">@Model.Name</h2>
                    <p class="card-text">@Model.Description</p>
            <ul>
                <li class="list-group-item">Почетен Датум: <strong>@Model.StartDate.ToString("dd/MM/yyy")</strong></li>
                <li class="list-group-item">Место: <strong>@Model.Destination</strong></li>
            </ul>
                </div>
                
            
            </div>
      


