@model ShowRangListOptionsVM

<form asp-area="User" asp-controller="RangList" asp-action="FilterRangList" method="post">
    <div class="row">
        <div class="col-3">
            <div class="mb-3 row p-1">
                <label class="p-0">Селектирај Настан</label>
                <select asp-for="SelectedEventId" asp-items="@Model.Events" class="p-0 form-select">
                    <option disabled selected>--Селектирај Настан--</option>
                </select>
                <span asp-validation-for="SelectedEventId" class="text-danger"></span>
            </div>
        </div>

        <div class="col-3">
            <div class="mb-3 row p-1">
                <label class="p-0">Селектирај Категорија</label>
                <select asp-for="SelectedCategoryId" asp-items="@Model.Categories" class="p-0 form-select">
                    <option disabled selected>--Селектирај Категорија--</option>
                </select>
                <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
            </div>
        </div>

        <div class="col-3">
            <div class="mb-3 row p-1">
                <label class="p-0">Селектирај Година</label>
                <select asp-for="SelectedYear" asp-items="@Model.EventsByYear" class="p-0 form-select">
                    <option disabled selected>--Селектирај Година--</option>
                </select>
                <span asp-validation-for="SelectedYear" class="text-danger"></span>
            </div>
        </div>

        <div class="col-3">
            <button type="submit" class="btn btn-success">Пребарај</button>
        </div>
    </div>
</form>





<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Ранг листа за @Model?.ShowRangList?.Event?.Name</h2>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Место</th>
                <th>Име и Презиме</th>
                <th>Град</th>
                @if (Model?.ShowRangList is not null)
                {
                    @foreach (var category in Model?.ShowRangList?.CategoriesRangList ?? new())
                    {
                        <th>@category?.Category?.categoryName</th>
                    }
                }

                <th>Вкупно</th>

            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @if (Model?.ShowRangList is not null)
            {

                @foreach (var user in Model?.ShowRangList?.RangListUsers ?? new())
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@user?.User?.NameUser @user?.User?.Surname</td>
                        <td>@user?.User?.PlaceOfOrigin</td>
                        @foreach (var category in Model?.ShowRangList?.CategoriesRangList)
                        {
                            var userCategory = Model?.ShowRangList?.CategoryUsers?
                            .FirstOrDefault(cu => cu.UserId == user?.User?.Id && cu.CategoryId == category?.Category?.Id);

                            <td>@(userCategory?.Points ?? 0)</td> <!-- If no points, default to 0 -->
                        }
                        <td>@user?.Points</td>



                    </tr>
                }

            }
            else
            {
                <p class="text-danger">Нема ништо</p>
            }



        </tbody>

    </table>
